<div class="sticky-container"  style="position: auto; z-index: 1200;">
    <!-- <ul class="sticky">
        <li>
            <a href="#" target="_blank">
            <img src="assets/images/social-media/twitter.png"  width="32" height="32">
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
            <img src="assets/images/social-media/instagram.png" width="32" height="32">
        </a>
        </li>
        <li>
            <a href="#" target="_blank">
            <img src="assets/images/social-media/facebook.png" width="32" height="32">
        </a>
        </li>
        <li>
            <a href="#" target="_blank">
            <img src="assets/images/social-media/youtube.png" width="32" height="32">
        </a>
        </li>
    </ul> -->

    <ul class="sticky">
        <li><a href="https://twitter.com/" target="_blank" style="color: #38f9d7;text-decoration: none;"><i class="lni-twitter-original"></i></a></li>
        <li><a href="https://instagram.com/" target="_blank" style="color: #38f9d7;text-decoration: none;"><i class="lni-instagram-original"></i></a></li>
        <li><a href="https://facebook.com/" target="_blank" style="color: #38f9d7;text-decoration: none;"><i class="lni-facebook-filled"></i></a></li>
        <li><a href="https://youtube.com" target="_blank" style="color: #38f9d7;text-decoration: none;"><i class="lni-youtube"></i></a></li>
    </ul>

</div>
