<div class="sticky-container"  style="position: auto; z-index: 1200;">
    <!-- <ul class="sticky">
        <li>
            <a href="#" target="_blank">
            <img src="assets/images/social-media/twitter.png"  width="32" height="32">
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
            <img src="assets/images/social-media/instagram.png" width="32" height="32">
        </a>
        </li>
        <li>
            <a href="#" target="_blank">
            <img src="assets/images/social-media/facebook.png" width="32" height="32">
        </a>
        </li>
        <li>
            <a href="#" target="_blank">
            <img src="assets/images/social-media/youtube.png" width="32" height="32">
        </a>
        </li>
    </ul> -->

    <ul class="sticky">
        <li *ngFor="let item of ListaSocial"><a [href]="item.url" target="_blank" style="color: #fff;text-decoration: none;" class="social"><div class="alinear"><i [class]="item.icon"></i></div></a></li>
    </ul>

</div>
