/*===========================
      20.CONTACT css 
===========================*/
.contact-area {
    padding-top: 95px;
    padding-bottom: 100px;
    background-color: #f4f6f7; }
  
  .form-message.error, .form-message.success {
    font-size: 16px;
    color: #121212;
    padding: 10px 15px;
    margin-top: 15px;
    background-color: #e9ecef; }
  .form-message.error {
    color: #fc3832; }
  
  .single-contact-box {
    background-color: #fff;
    border-radius: 8px;
    padding: 24px 35px;
    height: 255px; }
    @media (max-width: 767px) {
      .single-contact-box {
        padding: 24px 20px; } }
    .single-contact-box .box-icon {
      position: relative;
      display: inline-block; }
      .single-contact-box .box-icon i {
        font-size: 88px;
        position: relative;
        z-index: 5;
        color: #38f9d7; }
      .single-contact-box .box-icon .shape {
        position: absolute;
        top: 0;
        left: 0; }
    .single-contact-box .box-content {
      margin-top: 24px; }
      .single-contact-box .box-content .box-title {
        font-size: 28px;
        line-height: 35px;
        color: #121212; }
      .single-contact-box .box-content .text {
        font-size: 14px;
        line-height: 20px;
        color: #121212;
        margin-top: 16px; }
  
  .contact-two .contact-title {
    font-size: 24px;
    font-weight: 600;
    color: #121212; }
  .contact-two .text {
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    color: #6c6c6c; }
  .contact-two .contact-info {
    margin-top: 40px; }
    .contact-two .contact-info li {
      color: #6c6c6c;
      margin-top: 8px;
      font-size: 16px; }
      .contact-two .contact-info li i {
        margin-right: 5px;
        color: #121212; }
  
  .contact-map .gmap_canvas iframe {
    width: 100%;
    height: 400px; }
  
  .form-group {
    margin-bottom: 0; }
  
  .form-input label {
    font-size: 12px;
    line-height: 18px;
    color: #6c6c6c;
    margin-bottom: 8px;
    display: inline-block; }
  .form-input .input-items {
    position: relative; }
    .form-input .input-items input, .form-input .input-items textarea {
      width: 100%;
      height: 44px;
      border: 2px solid #a4a4a4;
      padding-left: 44px;
      padding-right: 12px;
      position: relative;
      font-size: 16px;
      color: #6c6c6c; }
      .form-input .input-items input:focus, .form-input .input-items textarea:focus {
        border-color: #38f9d7; }
      .form-input .input-items input::placeholder, .form-input .input-items textarea::placeholder {
        color: #6c6c6c;
        opacity: 1; }
      .form-input .input-items input::-moz-placeholder, .form-input .input-items textarea::-moz-placeholder {
        color: #6c6c6c;
        opacity: 1; }
      .form-input .input-items input::-moz-placeholder, .form-input .input-items textarea::-moz-placeholder {
        color: #6c6c6c;
        opacity: 1; }
      .form-input .input-items input::-webkit-input-placeholder, .form-input .input-items textarea::-webkit-input-placeholder {
        color: #6c6c6c;
        opacity: 1; }
    .form-input .input-items textarea {
      padding-top: 8px;
      height: 130px;
      resize: none; }
    .form-input .input-items i {
      position: absolute;
      top: 11px;
      left: 13px;
      font-size: 20px;
      z-index: 9;
      color: #6c6c6c; }
  