<section id="client" class="client-logo-area">
    <!--  class="testimonial-area" -->
    <div class="container">
        <div class="row client-active">
            <div class="col-lg-12" *ngFor="let item of listSystem">
                <div class="single-client text-center" >
                   <a [href]="item.url" target="_blank">
                    <img [src]="item.img" width="100%" [title]="item.title"  height="100%" [alt]="item.title">
                   </a>
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>