#apartado{
    width:150px;
    height:150px;
    border:3px solid rgb(58, 57, 57);
    border-radius:22px;
    // background-image: linear-gradient(to bottom right, #43cae9 10%, #38f9d7 50%, #43cae9 100%);
 }

 /*===========================
       25.CLIENT css 
===========================*/
/*===== Client Logo Two =====*/
.client-logo-area {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f4f6f7;
   }
  
  .client-logo-2 {
    background-color: #f4f6f7;
   }