<footer id="footer" class="footer-area">
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-link">
                        <!-- <h6 class="footer-title">Company</h6> -->
                        <div align="center">
                            <img src="assets/images/logo2.svg" width="300px" height="100px">
                        </div>
                        <ul>
                            <li><small>Comprometidos con la Venezuela Azul</small></li>
                            <li><small>Avenida Orinoco</small></li>
                            <li><small>Entre calles Mucuchíes y Perijá</small></li>
                            <li><small>Edificio INEA</small></li>
                            <li><small>Telf. 0212-909-14-30</small></li>
                        </ul>
                    </div> <!-- footer link -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-link">
                        <h6 class="footer-title">INEA</h6>
                        <ul>
                            <li><a href="#"><small>Organización</small></a></li>
                            <li><a href="#"><small>Seguridad</small></a></li>
                            <li><a href="#"><small>Meteorología</small></a></li>
                            <li><a href="#"><small>Formación</small></a></li>
                            <li><a href="#"><small>Servicios</small></a></li>
                            <li><a href="#"><small>Trámites</small></a></li>
                            <li><a href="#"><small>Aviso a los Navegantes</small></a></li>
                            <li><a href="#"><small>Contáctanos</small></a></li>
                        </ul>
                    </div> <!-- footer link -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-link">
                        <h6 class="footer-title">NOTICIAS</h6>
                        <ul>
                            <li><a href="#"><small>Galeria Multimedia</small></a></li>
                            <li><a href="#"><small>Sinea</small></a></li>
                            <li><a href="#"><small>Sinea-R</small></a></li>
                            <li><a href="#"><small>Rematriculación</small></a></li>
                            <li><a href="#"><small>Sistema Armonizado</small></a></li>
                        </ul>
                    </div> <!-- footer link -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-link">
                        <h6 class="footer-title">ENLACES RECOMENDADOS</h6>
                        <ul>
                            <li><a href="#"><small>MPPT</small></a></li>
                            <li><a href="#"><small>Bolipuertos</small></a></li>
                            <li><a href="#"><small>Venavega</small></a></li>
                            <li><a href="#"><small>Dianca</small></a></li>
                            <li><a href="#"><small>INC</small></a></li>
                            <li><a href="#"><small>Conferry</small></a></li>
                        </ul>
                    </div> <!-- footer link -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- footer widget -->
    
    <div class="footer-copyright">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="copyright text-center text-lg-left mt-10">
                        <p class="text">Desarrollado <a style="color: #38f9d7" rel="nofollow" href="https://code-epic.com">Code-Epic Technologies</a></p>
                    </div> <!--  copyright -->
                </div>
                <div class="col-lg-2">
                    <!-- <div class="footer-logo text-center mt-10">
                        <a href="/"><img src="assets/images/logo-2.svg" alt="Logo"></a>
                    </div>  -->
                </div>
                <!-- footer logo -->
                <div class="col-lg-5">
                    <ul class="social text-center text-lg-right mt-10">
                        <li><a href="https://twitter.com/"><i class="lni-twitter-original"></i></a></li>
                        <li><a href="https://instagram.com/"><i class="lni-instagram-original"></i></a></li>
                        <li><a href="https://facebook.com/"><i class="lni-facebook-filled"></i></a></li>
                        <li><a href="https://youtube.com"><i class="lni-youtube"></i></a></li>
                    </ul> <!-- social -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- footer copyright -->
</footer>