    <!--====== BANNER PART START ======-->
    <!-- <img src="assets/images/banner/banner.svg" class="img-fluid" style="position: absolute; z-index: 1200;" width="100%" alt="INEA"> -->
    <!--====== BANNER PART ENDS ======-->

    <app-carousel></app-carousel>
    <!--====== NAVBAR PART ENDS ======-->

    <!--====== SAIDEBAR PART START ======-->
    <app-side-menu-right></app-side-menu-right>
    <!--====== SAIDEBAR PART ENDS ======-->

    <!--====== CLIENT LOGO PART START ======-->

    <app-system-online></app-system-online>

    <!--====== CLIENT LOGO PART ENDS ======-->

    <!--====== NEWS PART START ======-->
    <app-news></app-news>
    <!--====== NEWS PART ENDS ======-->

    <!--====== TESTIMONIAL THREE PART START ======-->

    <app-radio></app-radio>

    <!--====== TESTIMONIAL THREE PART ENDS ======-->

    
    <!--====== BACK TOP TOP PART START ======-->
    <app-back-to-top></app-back-to-top>
    <!--====== BACK TOP TOP PART ENDS ======-->
    
    <!--====== SOCIAL MEDIA ENDS ======-->
    <app-social-media></app-social-media>
    <!--====== SOCIAL MEDIA ENDS ======-->
    
