input {
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border: 1px solid #06aec4;
    padding: 0 4px 0 4px;
 }
 

 .cuadrado{
    padding:10px;
    margin:5px;
    background-color: #00000075;
    // background: -webkit-linear-gradient(left, #43cae9 0%, #38f9d7 50%, #43cae9 100%);
    // border: solid 1px rgb(35, 35, 35);
    color: white;
    border-radius:22px;
    // z-index: 2500;
    margin-top: -180px;
    }
