
    <div id="home" class="slider-area">
        <div class="bd-example">
            <div id="carouselOne" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselOne" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselOne" data-slide-to="1"></li>
                    <li data-target="#carouselOne" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="carousel-item bg_cover active"
                        style="background-image: url(assets/images/carousel/2.jpeg)">
                        <div class="carousel-caption">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-sm-12">
                                        <!-- <div class="col-xl-6 col-lg-7 col-sm-10"> -->
                                        <h2 class="carousel-title">SERVICIOS</h2>
                                        <ul class="carousel-btn rounded-buttons">
                                            <li><a class="main-btn rounded-three" href="#">OPERATIVOS</a></li>
                                            <li><a class="main-btn rounded-three" href="#">ADMINISTRATIVOS</a></li>
                                            <li><a class="main-btn rounded-three" href="#">TARIFARIO</a></li>
                                        </ul>
                                    </div>
                                    <!-- <div class="col-sm-6" style="width:700px; margin:0 auto;">
                                        <input type="text" class="form-control rounded-three" aria-describedby="search-text"
                                            placeholder="Buscar..." autofocus>
                                        </div> -->
                                </div> <!-- row -->
                            </div> <!-- container -->
                        </div> <!-- carousel caption -->
                    </div> <!-- carousel-item -->

                    <div class="carousel-item bg_cover"
                        style="background-image: url(assets/images/carousel/3.jpeg)">
                        <div class="carousel-caption">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-sm-12">
                                        <h2 class="carousel-title">SERVICIOS</h2>
                                        <ul class="carousel-btn rounded-buttons">
                                            <li><a class="main-btn rounded-three" href="#">OPERATIVOS</a></li>
                                            <li><a class="main-btn rounded-three" href="#">ADMINISTRATIVOS</a></li>
                                            <li><a class="main-btn rounded-three" href="#">TARIFARIO</a></li>
                                        </ul>
                                    </div>
                                </div> <!-- row -->
                            </div> <!-- container -->
                        </div> <!-- carousel caption -->
                    </div> <!-- carousel-item -->

                    <div class="carousel-item bg_cover"
                        style="background-image: url(assets/images/carousel/4.jpeg)">
                        <div class="carousel-caption">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-sm-12">
                                        <h2 class="carousel-title">SERVICIOS</h2>
                                        <ul class="carousel-btn rounded-buttons">
                                            <li><a class="main-btn rounded-three" href="#">OPERATIVOS</a></li>
                                            <li><a class="main-btn rounded-three" href="#">ADMINISTRATIVOS</a></li>
                                            <li><a class="main-btn rounded-three" href="#">TARIFARIO</a></li>
                                        </ul>
                                    </div>
                                </div> <!-- row -->
                            </div> <!-- container -->
                        </div> <!-- carousel caption -->
                    </div> <!-- carousel-item -->
                </div> <!-- carousel-inner -->

                <div class="container">
                <div class="row">
                    <div class="col-6 col-md-3 col-sm-6">
                        <div class="cuadrado" align="center">
                            <h2 style="color:#fff">8.564</h2>
                            <p style="color:#fff">Buques Abanderados<br><br></p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 col-sm-6">
                        <div class="cuadrado" align="center">
                            <h2 style="color:#fff">59.687</h2>
                            <p style="color:#fff">Documentación técnica emitida a la Gente de Mar</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 col-sm-6">
                        <div class="cuadrado" align="center">
                            <h2 style="color:#fff">3.412</h2>
                            <p style="color:#fff">Inspecciones realizadas a instalaciones portuarias</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 col-sm-6">
                        <div class="cuadrado" align="center">
                            <h2 style="color:#fff">936</h2>
                            <p style="color:#fff">Charlas de conciencia acuática impartidas</p>
                        </div>
                    </div>
                </div>
            </div>


                <a class="carousel-control-prev" href="#carouselOne" role="button" data-slide="prev">
                    <i class="fa fa-angle-left circle"></i>
                </a>

                <a class="carousel-control-next" href="#carouselOne" role="button" data-slide="next">
                    <i class="fa fa-angle-right circle"></i>
                </a>
            </div> <!-- carousel -->
        </div> <!-- bd-example -->
    </div>
