<!-- <img src="assets/images/banner/banner.svg" class="banner"  alt="INEA"> -->


<nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="/">
        <img src="assets/images/logo1.svg" width="100%" alt="INEA">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarEight" aria-controls="navbarEight" aria-expanded="false" aria-label="Toggle navigation">
        <span class="toggler-icon"></span>
        <span class="toggler-icon"></span>
        <span class="toggler-icon"></span>
    </button>
    
    <!-- <div class=""> -->
    <div class="container">
    <div class="collapse navbar-collapse sub-menu-bar"  id="navbarEight">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="page-scroll" href="#home"><i class="fa fa-home"></i></a>
            </li>
            <li class="nav-item">
                <a class="page-scroll" href="#/about"><small>ORGANIZACIÓN</small></a>
            </li>
            <li class="nav-item">
                <a class="page-scroll" href="#portfolio"><small>MARCO LEGAL</small></a>
            </li>
            <li class="nav-item">
                <a class="page-scroll" href="#pricing"><small>SEGURIDAD</small></a>
            </li>
            <li class="nav-item">
                <a class="page-scroll" href="#/meteorology"><small>METEOROLOGÍA</small></a>
            </li>
            <li class="nav-item">
                <a class="page-scroll" href="#testimonial"><small>FORMACIÓN</small></a>
            </li>
            <li class="nav-item">
                <a class="page-scroll" href="#testimonial"><small>PROYECTOS</small></a>
            </li>
            <li class="nav-item">
                <a class="page-scroll" href="#/contact"><small>CONTÁCTANOS</small></a>
            </li>
        </ul>
    </div>
    </div>

    <div class="navbar-btn d-none mt-15 d-lg-inline-block">
        <a class="menu-bar" href="#side-menu-right"><img src="assets/images/flags/ve.png" width="32px"></a>
    </div>

</nav> 